@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --main-color: #3f72af;
  --secondary-color: #dbe2ef;
  --bg-color: #112d4e;
}

::selection {
  background-color: #112d4e;
  color: #fff;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background-color: #112d4e;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#app {
  max-width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
  background-color: #f9f7f7;
  scroll-behavior: smooth;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    /* place-items: center; */
  }

  #app {
    /* background-color: aqua; */
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* padding: 0 2rem; */
  }
}
